* {
    box-sizing: border-box;
}



.Home {
  text-align: left;
  padding-bottom: 72px;
}

.Left {
  float: left;
  width: 65%;
  color: hsla(209, 15%, 28%);
  padding-top: 72px;
}

.Left h1 {
  /* font-family: 'Vidaloka', serif; */
  font-size: 30px; 
  margin-top: 0;
}

.Left p {
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 16px;
  line-height: 1.5;
}

.Right {
  float: left;
  width: 35%;
  padding-left: 48px;
  /* font-family: 'Montserrat', sans-serif; */
  padding-top: 72px;
}

.Home::after {
  content: "";
  clear: both;
  display: table;
}

.FormInput {
    font-size: 16px;
    padding: 8px 12px;
    margin-top: 18px;
    border: 1px solid hsla(208, 12%, 58%);
    border-radius: 3px;
    width: 100%;
    box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
}


.FirstName {
    width: 40%;
    display: inline-block;
}

.LastName {
    width: 60%;
    padding-left: 16px;
    display: inline-block;
}

.SignupBtn {
    width: 100%;
    margin-top: 18px;
    border-radius: 3px;
    /* background-color: hsl(170, 100%, 40%); */
    background-color: hsl(205.6,100%,41.4%);
    color: white;
    font-size: 18px;
    padding: 12px;
    border: none;
}

.SignupBtn:hover {
  /* background-color: hsl(170, 100%, 45%); */
  background-color: hsl(222.9,77%,62.5%);
}

.NewAccountTitle {
    font-size: 24px;
    color: hsla(209, 15%, 28%);
    margin-top: 0;
    margin-bottom: 0;
}