.App {
  text-align: center;
}

.modal-shade {
  opacity: 0.2;
}

.Home {
  text-align: left;
  padding-top: 150px;
  padding-bottom: 100px;
}

.Left {
  float: left;
  width: 67%;
}

.Left h1 {
  font-family: 'Vidaloka', serif;
}

.Left p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.Right {
  float: left;
  width: 33%;
  padding-left: 50px;
  font-family: 'Montserrat', sans-serif;
}

.Home::after {
  content: "";
  clear: both;
  display: table;
}