.AvailableHomeBox {
    width: 100%;
    overflow: auto;
    box-shadow: 0 0 2px -2px #888;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.DistanceBox {
    font-size: 25px;
    color: #888;
    border-right: 1px solid #888;
    float: left;
    width: 20%;
}

.Distance {
    position: relative;
    top: 50%;
    
}

.HomeDetails {
    text-align: left;
    float: left;
    width: 80%;
    padding-left: 30px;
}

.Address {
    margin-top: 0;
    font-size: 20px;
}

.ChargeBtn {
    color: white;
    /* background-color: #8860D0; */
    background-color: #c0c0c0;
    font-size: 20px;
    padding: 5px 15px;
}

